
footer{
    display: flex;
    

    section{

        margin-top: 20px;
        margin-left: 1100px;
        justify-content: space-between;
        

        img{
            padding-left: 20px;
            height: 8vh;
            
        }

        img:hover{
            cursor: pointer;
            
        }
    }
}

@media(max-width:768px){
    img{

        margin-top: 20px;
        margin-left: 40px;
        align-items: center;
    }
}